html {
    width: 100%;
    height: 100%;
}

body {
    font-family: sans-serif;
    white-space: nowrap;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
body #header {
    border-bottom: 5px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #aab6c3;
}

body #header #info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.heading {
    margin: 0 30px;
}

body #main {
    height: 100%;
    min-height: 700px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}

#topBlock {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
}

#topBlock #graph {
    background-color: #2d333b;
    border: 5px solid black;
    border-radius: 15px;
    margin: 0 10px 0 10px;
}

#topBlock #interactive {
    border: 0;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#topBlock #interactive form #form{
    padding: 10px;
    min-height: 200px;
    min-width: 300px;

    border: 5px solid black;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #aab6c3;
}

#topBlock #interactive form #form .formFieldWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#topBlock #interactive form #form .formFieldWrapper .fieldDisplay {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;
    height: 30px;
}

#topBlock #interactive form #form .formFieldWrapper .fieldDisplay .fieldName {
    margin: 0 10px;
}

#topBlock #interactive form #form .formFieldWrapper .fieldChoice {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#topBlock #interactive form #form .formFieldWrapper .fieldChoice input[type="submit"], a {
    border: 3px solid black;
    background: transparent;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9px;
    padding: 3px;
    min-width: 20px;
    min-height: 20px;
}

#topBlock #interactive form .btns {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#topBlock #interactive form .btns .bnt {
    margin: 10px;
    padding: 10px;
    border: 5px solid black;
    border-radius: 15px;
    font-weight: bold;
    background-color: #aab6c3;
}

#botBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#botBlock table {
    min-width: 700px;
    text-align: center;
    border-collapse: collapse;
}

#botBlock table, th, td {
    border: 5px solid black;

}

#botBlock table th{
    background-color: #aab6c3;
}