html {
    width: 100%;
    height: 100%;
}
body {
    font-family: sans-serif;
    white-space: nowrap;

    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
}

body #header {
    border-bottom: 5px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #aab6c3;
}

body #header #info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.heading {
    margin: 0 30px;
}

body #main {
    height: 100%;
    min-height: 400px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

body #main #clock{
    width: max-content;
    min-width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    border: 5px solid black;
    border-radius: 15px;
    background-color: #aab6c3;
}

body #main #clock .clockBlock {
    margin: 0 5px;
    height: 150px;
    width: 150px;

    display: flex;
    justify-content: center;
    align-items: center;
}

body #main #clock .clockDelimiter {
    margin: 0 5px;
    height: 150px;
    width: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

body #main #clock div p {
    font-size: 100px;
    color: black;
}

body #main #calendar {
    display: flex;
    flex-direction: row;
}

body #main #calendar p {
    font-size: 30px;
    color: black;
}

body #main form .bnt {
    padding: 10px;
    border: 5px solid black;
    border-radius: 15px;
    font-weight: bold;
    background-color: #aab6c3;
}